apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: example
  template:
    metadata:
      labels:
        app: example
    spec:
      containers:
        - name: example
          image: nginx:stable
          ports:
            - containerPort: 80
